sqlova/**/*.pyc
wikisql/**/*.pyc
sqlnet/__pycache__
bert/__pycache__
.idea
*.swp
/models/noise_plain/
/models/sel_col/
/models/where_col/
/models/col_sample/
data/WikiSQL-1.1/.DS_Store
/models/stanford-corenlp-4.0.0/
/data/WikiSQL-1.1/gtlt_noisy_data/train.tables.jsonl
/models/col_sample_3/
/models/col_search_sample_3/
/models/stanford-corenlp-full-2018-02-27/
/models/stanford-corenlp-full-2018-10-05/
/column_rep/outs/sf_vecs.json
/bench/
/data/WikiSQL-1.1/benchmarking/
/f
