sqlova/**/*.pyc
wikisql/**/*.pyc
sqlnet/__pycache__
bert/__pycache__
.idea
*.swp
/models/sel_col/model_best.pt
/models/sel_col/model_bert_best.pt
/models/noise_plain/model_best.pt
/models/noise_plain/model_bert_best.pt
/models/where_col/model_best.pt
/models/where_col/model_bert_best.pt